header {
background-color: aqua;
}

.child {
    display: flex;
    justify-content: space-around;
}

a {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: space-around;
}

footer {
    background-color: aqua;
    text-align: center;
}

img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

img {
    transition: 1s;
}

h1 {
    text-align: center;
}